In [1]:
import pandas as pd

In [5]:
afg_data = pd.read_csv("data/Partial ICEWS Data/test_quintuples_AFG.csv")
ind_data = pd.read_csv("data/Partial ICEWS Data/test_quintuples_IND.csv")
irn_data = pd.read_csv("data/Partial ICEWS Data/test_quintuples_IRN.csv")

In [16]:
concat_df = pd.concat([afg_data,ind_data,irn_data], axis=0)
concat_df = concat_df.sample(frac=1, random_state=0).reset_index(drop=True)
concat_df.head()

,source,relation,target,time,text
0,Police (India),"Arrest, detain, or charge with legal action",Criminal (India),2015-09-08,"Acting on a tip, officials of the Kavi Nagar p..."
1,John Kerry,Make optimistic comment,Iran,2015-09-23,(Background: The Iranian Foreign Ministry spok...
2,Syria,Engage in diplomatic cooperation,Russia,2015-10-18,"The cooperation between Iran, Iraq, Russia and..."
3,Jaysh al-Islam,Make statement,Iran,2016-01-04,"The group, whose leader was killed in a Dec. 2..."
4,Tofael Ahmed,Make a visit,India,2016-01-09,"Tofail, now visiting India, also held a meetin..."

In [7]:
len(concat_df)

168846

In [8]:
len(concat_df['source'].unique())

4152

In [9]:
len(concat_df['target'].unique())

3848

In [10]:
len(concat_df['relation'].unique())

221

In [11]:
len(concat_df['time'].unique())

224

In [18]:
pip install accelerate

^C
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from transformers import T5Tokenizer, T5ForConditionalGeneration

tokenizer = T5Tokenizer.from_pretrained("google/flan-t5-large")
model = T5ForConditionalGeneration.from_pretrained("google/flan-t5-large", device_map="auto")

input_text = "translate English to German: How old are you?"
input_ids = tokenizer(input_text, return_tensors="pt").input_ids.to("cuda")

outputs = model.generate(input_ids)
print(tokenizer.decode(outputs[0]))